label{
  display:block;
  margin-top: 10px;
  font-size: 1.3rem;
  color:#E7C139;
  font-weight: bolder;
}

.entry-field{
  padding:1.5rem 3rem;
  background-color: #252323;
  border-radius: 1.2rem;
  box-shadow: 5px 5px 10px 3px grey;
}

.input-field{
  padding:0.4rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  margin-top:2px;
  border-color: black;
  display:block;
  background-color: whitesmoke;
}

.entry-field-part{
  margin: 1.2rem 0;
}

.input-field:focus, .input-field:active{
  box-shadow: 1px 1px 5px 1px #E7C139;
  border-color: #E7C139;
}

